In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mlp
import matplotlib.pyplot as plt

In [2]:
# Load csv data

In [3]:
df = pd.read_csv('house_appraiser_items.csv')

In [4]:
# Fill nan values with 0

In [5]:
df['ambientes'] = df['ambientes'].fillna(0)
df['baños'] = df['baños'].fillna(0)
df['cocheras'] = df['cocheras'].fillna(0)
df['dormitorios'] = df['dormitorios'].fillna(0)
df['toilettes'] = df['toilettes'].fillna(0)

In [6]:
# Change float to int type

In [7]:
df['ambientes'] = df['ambientes'].astype(int)
df['baños'] = df['baños'].astype(int)
df['cocheras'] = df['cocheras'].astype(int)
df['dormitorios'] = df['dormitorios'].astype(int)
df['toilettes'] = df['toilettes'].astype(int)

In [8]:
# Remove null values

In [9]:
df = df[pd.notnull(df['precio'])]
df = df[pd.notnull(df['superficie_total'])]
df = df[pd.notnull(df['superficie_cubierta'])]
df = df[pd.notnull(df['antiguedad'])]

In [10]:
# Remove items with price = Consultar precio

In [11]:
df = df[~df['precio'].isin(['Consultar precio'])]

In [12]:
# Remove m2

In [13]:
df['superficie_total'] = df['superficie_total'].str.replace('m²','')
df['superficie_cubierta'] = df['superficie_cubierta'].str.replace('m²','')

In [14]:
# Change float to int type

In [15]:
df['superficie_total'] = df['superficie_total'].astype(int)
df['superficie_cubierta'] = df['superficie_cubierta'].astype(int)

In [16]:
# Remove USD, $, points and blank spaces

In [17]:
df['precio'] = df['precio'].str.replace('USD','')
df['precio'] = df['precio'].str.replace('$','')
df['precio'] = df['precio'].str.replace(' ','')
df['precio'] = df['precio'].str.replace('.','')

In [18]:
# Change string to int type

In [19]:
df['precio'] = df['precio'].astype(int)

In [20]:
# Change 'A estrenar' to 0 years

In [21]:
df['antiguedad'] = df['antiguedad'].str.replace('A estrenar','0')
df = df[~df['antiguedad'].isin(['En construcción'])]

In [22]:
# Delete columns

In [23]:
del df['luminosidad']
del df['estado']
del df['orientacion']

In [24]:
df.shape

(3331, 9)

In [25]:
df.head(10)

,precio,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes,antiguedad
0,840000,693,330,5,3,0,3,1,0
1,1185000,820,348,6,4,0,4,1,0
2,420000,175,130,6,4,1,3,1,30
3,665000,578,280,7,4,1,4,1,0
6,2200000,630,630,5,5,0,3,1,120
8,1360000,1250,400,7,7,0,4,1,10
12,990000,655,330,7,3,0,3,1,32
14,1060000,1113,428,8,4,0,4,1,7
16,975000,236,325,6,3,1,4,0,20
18,1111111,350,350,6,4,1,5,1,100

In [26]:
df.to_csv('dataset.csv')