In [1]:
# Import libraries

In [ ]:
import pandas as pd
from sklearn import preprocessing

In [ ]:
# Load csv data

In [2]:
df = pd.read_csv('house_appraiser_items.csv')

In [3]:
df.head(1000)

,price,total_surface,covered_surface,rooms,bathrooms,garages,bedrooms,toilettes,antiquity,zone
0,USD 485.000,146m²,200m²,5.0,4.0,1.0,3.0,1.0,19,", Villa Urquiza, Capital Federal"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USD 350.000,626m²,177m²,5.0,2.0,NaN,3.0,1.0,10,", Barrancas del Lago, Nordelta"
3,USD 590.000,190m²,190m²,7.0,4.0,NaN,4.0,1.0,96,", Nuñez, Capital Federal"
4,USD 398.000,207m²,205m²,4.0,4.0,NaN,3.0,NaN,40,", Olivos, Vicente López"
...,...,...,...,...,...,...,...,...,...,...
995,USD 150.000,170m²,170m²,5.0,3.0,1.0,4.0,NaN,30,", Villa Lynch, General San Martín"
996,USD 220.000,751m²,151m²,NaN,3.0,NaN,3.0,NaN,NaN,", Norte, El Cantón"
997,USD 289.000,300m²,110m²,5.0,NaN,1.0,2.0,NaN,15,", Boulogne Sur Mer, San Isidro"
998,USD 780.000,400m²,400m²,6.0,3.0,1.0,5.0,NaN,NaN,", Playa Mansa, Punta del Este"
999,USD 299.000,600m²,200m²,6.0,2.0,1.0,3.0,NaN,7,", San Alfonso II, Villa Allende"

In [4]:
len(df)

10000

In [5]:
# Fill nan values with 0

In [6]:
df['rooms'] = df['rooms'].fillna(0)
df['bathrooms'] = df['bathrooms'].fillna(0)
df['garages'] = df['garages'].fillna(0)
df['bedrooms'] = df['bedrooms'].fillna(0)
df['toilettes'] = df['toilettes'].fillna(0)

In [7]:
# Change float to int type

In [8]:
df['rooms'] = df['rooms'].astype(int)
df['bathrooms'] = df['bathrooms'].astype(int)
df['garages'] = df['garages'].astype(int)
df['bedrooms'] = df['bedrooms'].astype(int)
df['toilettes'] = df['toilettes'].astype(int)

In [9]:
# Remove null values

In [10]:
df = df[pd.notnull(df['price'])]
df = df[pd.notnull(df['total_surface'])]
df = df[pd.notnull(df['covered_surface'])]
df = df[pd.notnull(df['antiquity'])]
df = df[pd.notnull(df['zone'])]

In [11]:
# Remove items with price equals 'Consultar precio'

In [12]:
df = df[~df['price'].isin(['Consultar precio'])]

In [13]:
# Remove ha

In [14]:
df = df[~df['total_surface'].str.contains('ha')]
df = df[~df['covered_surface'].str.contains('ha')]

In [15]:
# Remove m2

In [16]:
df['total_surface'] = df['total_surface'].str.replace('m²','')
df['covered_surface'] = df['covered_surface'].str.replace('m²','')

In [17]:
# Change float to int type

In [18]:
df['total_surface'] = df['total_surface'].astype(int)
df['covered_surface'] = df['covered_surface'].astype(int)

In [19]:
# Remove USD, $, points and blank spaces

In [20]:
df['price'] = df['price'].str.replace('USD','')
df['price'] = df['price'].str.replace('$','')
df['price'] = df['price'].str.replace(' ','')
df['price'] = df['price'].str.replace('.','')

In [21]:
# Change string to int type

In [22]:
df['price'] = df['price'].astype(int)

In [23]:
# Change 'A estrenar' to 0 years

In [24]:
df['antiquity'] = df['antiquity'].str.replace('A estrenar','0')
df = df[~df['antiquity'].isin(['En construcción'])]
df['antiquity'] = df['antiquity'].astype(int)

In [25]:
df.shape

(6902, 10)

In [26]:
# Clean zones

In [27]:
df = df.reset_index(drop=True)
zones = []

for i in range(len(df)):
    zones.append(pd.Series(df['zone'][i]).str.split(pat=',')[0][-1])

df['zone'] = zones

In [28]:
df['zone'] = df['zone'].str.lstrip()
df['zone'] = df['zone'].str.rstrip()

In [29]:
df.head(10)

,price,total_surface,covered_surface,rooms,bathrooms,garages,bedrooms,toilettes,antiquity,zone
0,485000,146,200,5,4,1,3,1,19,Capital Federal
1,350000,626,177,5,2,0,3,1,10,Nordelta
2,590000,190,190,7,4,0,4,1,96,Capital Federal
3,398000,207,205,4,4,0,3,0,40,Vicente López
4,1300000,400,326,5,2,1,3,0,35,Capital Federal
5,799000,972,308,8,4,1,4,0,15,Tigre
6,585000,633,340,4,2,0,3,1,25,San Isidro
7,550000,1273,425,8,5,0,6,1,35,San Isidro
8,440000,1081,231,6,4,0,3,1,1,Villanueva
9,790000,250,250,5,2,0,3,1,80,Capital Federal

In [30]:
# Remove unique zone values and empty string
df = df[df.duplicated(subset=['zone'], keep=False)]

In [31]:
# Fix domain columns

In [32]:
df = df[df['price'] > 1000]

In [33]:
df.shape

(6780, 10)

In [34]:
df = df[df['price'] > 50000]
df = df[df['price'] < 10000000]

In [35]:
df = df[df['total_surface'] > 50]
df = df[df['total_surface'] < 2500]

In [36]:
df = df[df['covered_surface'] > 50]
df = df[df['covered_surface'] < 2500]

In [37]:
df = df[df['total_surface'] >= df['covered_surface']]

In [38]:
df = df[df['rooms'] >= 0]
df = df[df['rooms'] < 15]

In [39]:
df = df[df['bathrooms'] >= 0]
df = df[df['bathrooms'] < 10]

In [40]:
df = df[df['garages'] >= 0]
df = df[df['garages'] < 5]

In [41]:
df = df[df['bedrooms'] >= 0]
df = df[df['bedrooms'] < 10]

In [42]:
df = df[df['toilettes'] >= 0]
df = df[df['toilettes'] < 5]

In [43]:
df = df[df['antiquity'] >= 0]
df = df[df['antiquity'] < 50]

In [44]:
df.head(10)

,price,total_surface,covered_surface,rooms,bathrooms,garages,bedrooms,toilettes,antiquity,zone
1,350000,626,177,5,2,0,3,1,10,Nordelta
3,398000,207,205,4,4,0,3,0,40,Vicente López
4,1300000,400,326,5,2,1,3,0,35,Capital Federal
5,799000,972,308,8,4,1,4,0,15,Tigre
6,585000,633,340,4,2,0,3,1,25,San Isidro
7,550000,1273,425,8,5,0,6,1,35,San Isidro
8,440000,1081,231,6,4,0,3,1,1,Villanueva
11,495000,600,260,7,4,0,4,0,3,Santa Fe
12,395000,517,217,6,4,0,4,1,0,Nordelta
13,340000,235,235,4,2,1,3,0,40,Capital Federal

In [45]:
df = df.reset_index(drop=True)

In [46]:
df.head(10)

,price,total_surface,covered_surface,rooms,bathrooms,garages,bedrooms,toilettes,antiquity,zone
0,350000,626,177,5,2,0,3,1,10,Nordelta
1,398000,207,205,4,4,0,3,0,40,Vicente López
2,1300000,400,326,5,2,1,3,0,35,Capital Federal
3,799000,972,308,8,4,1,4,0,15,Tigre
4,585000,633,340,4,2,0,3,1,25,San Isidro
5,550000,1273,425,8,5,0,6,1,35,San Isidro
6,440000,1081,231,6,4,0,3,1,1,Villanueva
7,495000,600,260,7,4,0,4,0,3,Santa Fe
8,395000,517,217,6,4,0,4,1,0,Nordelta
9,340000,235,235,4,2,1,3,0,40,Capital Federal

In [47]:
df.shape

(5740, 10)

In [48]:
# Encode zones to numeric labels

In [49]:
gle = preprocessing.LabelEncoder()
zone_labels = gle.fit_transform(df['zone'])
zone_mappings = {index: label for index, label in enumerate(gle.classes_)}
df['zone_label'] = zone_labels

In [50]:
df.head(10)

,price,total_surface,covered_surface,rooms,bathrooms,garages,bedrooms,toilettes,antiquity,zone,zone_label
0,350000,626,177,5,2,0,3,1,10,Nordelta,57
1,398000,207,205,4,4,0,3,0,40,Vicente López,86
2,1300000,400,326,5,2,1,3,0,35,Capital Federal,11
3,799000,972,308,8,4,1,4,0,15,Tigre,82
4,585000,633,340,4,2,0,3,1,25,San Isidro,77
5,550000,1273,425,8,5,0,6,1,35,San Isidro,77
6,440000,1081,231,6,4,0,3,1,1,Villanueva,88
7,495000,600,260,7,4,0,4,0,3,Santa Fe,80
8,395000,517,217,6,4,0,4,1,0,Nordelta,57
9,340000,235,235,4,2,1,3,0,40,Capital Federal,11

In [51]:
df.to_csv('dataset.csv')