In [181]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mlp
import matplotlib.pyplot as plt

In [182]:
df = pd.read_csv('house_appraiser_dataset.csv')

In [183]:
df.head()

,precio,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes,antiguedad,disposicion,orientacion,estado,luminosidad
0,USD 94.000,55m²,40m²,2.0,1,1,Interno,Muy bueno,NaN,NaN,NaN,NaN,NaN
1,USD 690.000,197m²,167m²,5.0,3,1,4,0,38,Frente,NE,Bueno,Luminoso
2,USD 370.000,178m²,165m²,6.0,3,5,60,Frente,SE,Bueno,NaN,NaN,NaN
3,USD 110.000,41m²,36m²,2.0,1,0,1,0,A estrenar,Frente,Muy luminoso,NaN,NaN
4,USD 168.000,55m²,49m²,2.0,1,1,1,0,7,Frente,Excelente,NaN,NaN

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
precio                 747 non-null object
superficie_total       747 non-null object
superficie_cubierta    747 non-null object
ambientes              746 non-null float64
baños                  741 non-null object
cocheras               731 non-null object
dormitorios            711 non-null object
toilettes              661 non-null object
antiguedad             603 non-null object
disposicion            499 non-null object
orientacion            376 non-null object
estado                 229 non-null object
luminosidad            103 non-null object
dtypes: float64(1), object(12)
memory usage: 100.2+ KB

In [185]:
df['baños'] = df['baños'].map({'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10})
df['cocheras'] = df['cocheras'].map({'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10})
df['dormitorios'] = df['dormitorios'].map({'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10})
df['toilettes'] = df['toilettes'].map({'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10})

In [186]:
df = df[~np.isnan(df['ambientes'])]

In [187]:
df['ambientes'] = df['ambientes'].astype(int)

In [188]:
df.head()

,precio,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes,antiguedad,disposicion,orientacion,estado,luminosidad
0,USD 94.000,55m²,40m²,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USD 690.000,197m²,167m²,5,3.0,1.0,4.0,NaN,38,Frente,NE,Bueno,Luminoso
2,USD 370.000,178m²,165m²,6,3.0,5.0,NaN,NaN,SE,Bueno,NaN,NaN,NaN
3,USD 110.000,41m²,36m²,2,1.0,NaN,1.0,NaN,A estrenar,Frente,Muy luminoso,NaN,NaN
4,USD 168.000,55m²,49m²,2,1.0,1.0,1.0,NaN,7,Frente,Excelente,NaN,NaN

In [189]:
df.head()

,precio,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes,antiguedad,disposicion,orientacion,estado,luminosidad
0,USD 94.000,55m²,40m²,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USD 690.000,197m²,167m²,5,3.0,1.0,4.0,NaN,38,Frente,NE,Bueno,Luminoso
2,USD 370.000,178m²,165m²,6,3.0,5.0,NaN,NaN,SE,Bueno,NaN,NaN,NaN
3,USD 110.000,41m²,36m²,2,1.0,NaN,1.0,NaN,A estrenar,Frente,Muy luminoso,NaN,NaN
4,USD 168.000,55m²,49m²,2,1.0,1.0,1.0,NaN,7,Frente,Excelente,NaN,NaN

In [190]:
df['superficie_total'] = df['superficie_total'].str.replace('m²','')
df['superficie_cubierta'] = df['superficie_cubierta'].str.replace('m²','')

In [191]:
df.head()

,precio,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes,antiguedad,disposicion,orientacion,estado,luminosidad
0,USD 94.000,55,40,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USD 690.000,197,167,5,3.0,1.0,4.0,NaN,38,Frente,NE,Bueno,Luminoso
2,USD 370.000,178,165,6,3.0,5.0,NaN,NaN,SE,Bueno,NaN,NaN,NaN
3,USD 110.000,41,36,2,1.0,NaN,1.0,NaN,A estrenar,Frente,Muy luminoso,NaN,NaN
4,USD 168.000,55,49,2,1.0,1.0,1.0,NaN,7,Frente,Excelente,NaN,NaN

In [192]:
df['superficie_total'] = df['superficie_total'].astype(float)
df['superficie_cubierta'] = df['superficie_cubierta'].astype(float)

In [193]:
df.describe()

,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes
count,746.000000,746.000000,746.000000,695.000000,444.000000,492.000000,179.000000
mean,96.474531,78.599196,2.711796,1.654676,1.578829,2.158537,1.983240
std,84.097626,69.453912,1.387884,0.910333,0.964659,1.272964,2.212007
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,48.000000,39.250000,2.000000,1.000000,1.000000,1.000000,1.000000
50%,70.000000,60.000000,3.000000,1.000000,1.000000,2.000000,1.000000
75%,112.000000,96.000000,4.000000,2.000000,2.000000,3.000000,1.000000
max,1000.000000,690.000000,11.000000,6.000000,9.000000,10.000000,10.000000

In [194]:
df.head(20)

,precio,superficie_total,superficie_cubierta,ambientes,baños,cocheras,dormitorios,toilettes,antiguedad,disposicion,orientacion,estado,luminosidad
0,USD 94.000,55.0,40.0,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USD 690.000,197.0,167.0,5,3.0,1.0,4.0,NaN,38,Frente,NE,Bueno,Luminoso
2,USD 370.000,178.0,165.0,6,3.0,5.0,NaN,NaN,SE,Bueno,NaN,NaN,NaN
3,USD 110.000,41.0,36.0,2,1.0,NaN,1.0,NaN,A estrenar,Frente,Muy luminoso,NaN,NaN
4,USD 168.000,55.0,49.0,2,1.0,1.0,1.0,NaN,7,Frente,Excelente,NaN,NaN
5,USD 597.000,160.0,160.0,4,3.0,1.0,4.0,NaN,Frente,Excelente,NaN,NaN,NaN
6,USD 50.000,57.0,53.0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USD 85.000,56.0,45.0,2,1.0,1.0,6.0,NaN,O,Muy bueno,Luminoso,NaN,NaN
8,USD 235.000,178.0,78.0,3,2.0,1.0,2.0,NaN,Muy luminoso,NaN,NaN,NaN,NaN
9,USD 76.421,23.0,21.0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,USD 159.000,80.0,80.0,2,2.0,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN
11,USD 270.036,89.0,76.0,5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,USD 170.000,84.0,80.0,3,2.0,2.0,NaN,NaN,Bueno,NaN,NaN,NaN,NaN
13,USD 140.000,60.0,49.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,USD 690.000,196.0,196.0,4,3.0,1.0,3.0,1.0,20,Frente,N,Excelente,Muy luminoso
15,USD 280.000,123.0,83.0,3,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,USD 165.000,65.0,65.0,3,1.0,NaN,2.0,NaN,35,Frente,Muy bueno,Muy luminoso,NaN
17,USD 130.000,51.0,51.0,3,1.0,NaN,2.0,NaN,40,Frente,O,Muy luminoso,NaN
18,USD 120.000,70.0,70.0,3,1.0,2.0,NaN,NaN,NE,Muy bueno,NaN,NaN,NaN
19,USD 495.000,156.0,123.0,4,4.0,2.0,3.0,NaN,Muy luminoso,NaN,NaN,NaN,NaN